/*
 * Note:  '@font-face' and '.material-icons' are needed to load Google's Material Design fonts as it's being hosted locally!
 */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(google_material_design/v3.0.1/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(google_material_design/v3.0.1/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(google_material_design/v3.0.1/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(google_material_design/v3.0.1/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;    /* Support for all WebKit browsers. */
    text-rendering: optimizeLegibility;     /* Support for Safari and Chrome. */
    -moz-osx-font-smoothing: grayscale;     /* Support for Firefox. */
    font-feature-settings: 'liga';          /* Support for IE. */
}